
@{
    ViewBag.Title = "ConnotDeleteOrEdit";
}

<h2>ConnotDeleteOrEdit</h2>
<h1>This Unit is asigned in one or more categories And you can't edit it or Delete It!</h1>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
